---
// Root redirects to default locale /zh/ instantly
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/zh/" />
    <link rel="canonical" href="/zh/" />
    <title>Atlas for Mac</title>
  </head>
  <body></body>
</html>
